body {
    font-family: sans-serif;
    margin: 0em;
    padding: 0em;
    background: rgb(238, 238, 238)	;
}


.black {
  background: rgb(84, 123, 75);
  height: 3em;
  width: 3em;
}

.white {
  background: #eeedd3;
  height: 3em;
  width: 3em;
}


.board-container-new-game {
  border: 3px solid #000;
  box-shadow: 0 5px 8px #777;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  text-align: center;
}

.board-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 67.78px - 148.84px);
}

.board-area button {
  background: rgb(164, 180, 124);
  padding: 0.5em;
  font-size: 20px;
  border-radius: 0.3em;
  margin: 10px;
  justify-content: space-between;
  cursor: pointer;

}


@media screen and (max-width:400px){
  .board-container-new-game {
    display: grid;
    grid-template-columns: repeat(8, 38px);
    grid-template-rows: repeat(8, 38px);   
    border: 3px solid #000;
    box-shadow: 0 5px 8px #777; 
  }
  
  .board-container-new-game div{
    width: auto;
    height: auto;
  }

  .board-container div {
    height: 100%;
    width: auto;
  }

  .piece-image {
    width: 90%;
    height: auto;
  }
  
  .dragged-image {
    height: 150%;
  }

  .board-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 67.78px - 148.84px);
    padding: 2em;
  }
  

  .board-area button {
    background: red;
    padding: 0.5em;
    font-size: 20px;
    border-radius: 0.3em;
    margin: 10px;
    justify-content: space-between;
    cursor: pointer;
  }
}

.buttons {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-image {
  max-width: 100%;
  height: auto;
}
.dragged-image {
  height: 150%;
}


footer {
  background: rgb(248, 233, 170);
  display: inline-block;
  text-align: center;
  width: 100%;
  bottom:0;
  padding:1em 0;
  font-size: 20px;
  box-shadow: 0 1px 5px #777;
}

.logo {
  width: 10em;
  padding: 0.7em;
}

.menu {
  width: 2.3em;
}

header {
  /* display: grid;
  grid-template-columns: 60% 20% 20%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 10%;
  background: rgb(248, 233, 170);
  box-shadow: 0 1px 5px #777;
}
.logo {
  cursor: pointer;
}

.menu-tab a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 530;
  color: black;
}

.menu-tab {
  list-style: none;
}

.menu-tab li{
  display: inline-block;
  padding: 0px 20px;
}

.menu-tab li a {
  transition: all 0.3s ease 0s;
}

.menu-tab li a:hover {
  background: rgb(84, 123, 75);
  color: white;
  padding: 5.78px;
  border-radius: 0.1em;
}

